---
const {header, src, alt, variant, href, color} = Astro.props;
---
<a href={href}>
<img class={variant} src={src} alt={alt}>
<br>
<h2 class={color}>{header}</h2>
<slot></slot>
</a>

<style>
    img{
        border-radius: 35px;
    }
    h2{
        padding: 0 0px 40px 0px;
        font-size: 2rem;
        text-align: center;
    }
    .borderimg{
        border: solid 10px var(--white);
    }
    .color_white{
        color: var(--white);
    }
    .color_purple{
        color:var(--purple);
    }
    .color_greyish{
        color:var(--greyish);
    }
    .color_yellow{
        color:var(--yellow);
    }
</style>