---
const {header, src, alt, variant, href, color} = Astro.props;
---
<div class="card_div">
    <a href={href}>
        <img class={variant} src={src} alt={alt}>
        <div class="card_spacer_top"></div>
        <h2 class={color}>{header}</h2>
        <slot></slot>
        <div class="card_spacer"></div>
    </a>
</div>

<style>
    .card_spacer{
        margin-top: 40px;
    }
    .card_spacer_top{
        margin-top: 15px;
    }
    img{
        border-radius: 35px;
    }
    h2{
        padding: 0 0px 0px 0px;
        font-size: 2rem;
        text-align: center;
    }
    .borderimg{
        border: solid 15px var(--white);
    }
    .card_div:hover .borderimg {
        border: solid 15px var(--greyish);
    }
    .card_div:hover .color_white{
        color: var(--greyish);
    }

    .color_white{
        color: var(--white);
    }
    .color_purple{
        color:var(--purple);
    }
    .color_greyish{
        color:var(--greyish);
    }
    .color_yellow{
        color:var(--yellow);
    }
</style>